
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug * {
    border: 1px dashed;
}

.flex_container {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

.banner {
    background-color: green;
    padding:  2rem;
    margin: 1rem;
    text-align: center;
}

.debug #app_header {
    height: 5rem;
    background-color: yellow;
  
}

.debug .flex_container {
    height: 800px;
}

.debug #sidebar {
    background-color: violet;
}

.debug #app_main {
    height: 100%;
    background-color: blue;
}

.debug #aside {
    background-color: aquamarine;
    
}

.debug #app_footer {
    height: 5rem;
    background-color: bisque;

}

#app_header {
    width: 100%;
}

#sidebar {
    width: 29%;
    padding: 1rem;
}

#sidebar ul {
    list-style: none;
}

#app_main {
    margin: 0 1rem;
}



#app_footer {
    width: 100%;
}

